.sign-up-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('../../assets/bg2.jpg') no-repeat center;
  background-size: cover;
}

.tron-logo {
  margin-top: 5%;
  max-width: 300px;
}

.sign-up-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  width: 370px;
  padding: 20px;
  text-align: center;
  background-color: black;
  border: 2px solid var(--color_primary);
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(9, 198, 255, 0.8), 0 0 4px rgb(57, 184, 224),
    inset 0 0 7px rgb(29, 202, 255);
  border-radius: 25px;
}
.sign-in_text {
  margin-top: 20px;
}
.welcome-text {
  margin-top: 20%;
  font-size: 2.5rem;
  text-align: center;
}

@media (max-width: 600px) {
  .sign-up-wrapper {
    max-width: 250px;
  }
}

.sign-up-menu .input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 30px 0 20px 0;
}
