.btn {
  min-width: 100px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  font-size: 1rem;
  background-color: var(--color_bg);
  font-family: 'Tr2n';
  color: #bce2eb;
  text-shadow: 0 0 30px rgba(11, 198, 255, 0.8), 0 0 20px rgb(57, 184, 224),
    0 0 5px rgb(29, 202, 255);
  cursor: pointer;
  border: 2px solid var(--color_primary);
  box-shadow: 0 0 7px rgba(9, 198, 255, 0.8), 0 0 4px rgb(57, 184, 224),
    inset 0 0 7px rgb(29, 202, 255);
  transition: 0.3s;
}
.btn:hover {
  color: var(--color_secondary);
  text-shadow: 0 0 30px rgba(255, 179, 38, 0.8), 0 0 20px rgb(252, 255, 83),
    0 0 5px rgb(255, 234, 46);
  border: 2px solid var(--color_secondary);
  box-shadow: 0 0 6px rgba(255, 166, 0, 0.8), 0 0 4px rgb(255, 229, 83),
    inset 0 0 7px rgb(255, 234, 46);
}
.btn:active {
  transform: scale(0.96);
}
